.banner-contact {
	.banner-img {
		background-image: url(../images/banner-contact.jpg);
	}
}

.contact-us {
	#contact-info {
		svg {
			color: $c-1;
			margin-left: 5px;
		}
	}

	input[tybe=email] {
		text-align: right;
	}
}
